
  <div class="row justify-content-center">
    <div style="float: left; position: fixed;">
        <app-navbar></app-navbar>
    </div>
    <div style="float: right;  width: 80%;">
        <app-header></app-header>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
          <div>
            <a href="" class="add">Add Course</a>
        </div>
   
        <div class="container">
            <div class="item">
                Introduction <a href="">x</a>
            </div>
        </div>
            
        </div>
    </div>
<router-outlet></router-outlet>