
  <div>
    <div style="float: left; position: fixed;">
        <app-navbar></app-navbar>
    </div>
    <div style="float: right;  width: 80%;">
        <app-header></app-header>
        
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div>
              <button (click)="openModal()" id="open" class="add">Add Language</button>
          </div>
     
          <div class="container">
              <div class="item">
                  English <a >x</a>
              </div>
          </div>
          <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
              <div>
                <label for="psw"><b>Logo</b></label>
                <input type="file" placeholder="Select an image" name="psw" required>  
              </div>
              <div>
                <label for="psw"><b>Language</b></label>
                <input type="text" placeholder="Enter Password" name="psw" required>
          
              </div>
              
              
              <button type="button" class="btn cancel" onclick="closeForm()">Submit</button>
            </form>
          </div>
              
          </div>   
    </div>
    

<router-outlet></router-outlet>